*
{
   box-sizing: border-box;  
   padding: 0;
   margin: 0;
}

html{
    height: 100%;
}

body
{
    background: rgb(136, 193, 203);
    background: linear-gradient(0deg, rgb(0, 4, 24) 0%, rgb(198, 230, 230) 100%);
    
}

.CN
{
    border-radius:1.5px; 
    margin: 20px;
    padding: 20px;
    background-color: rgb(156, 231, 231);
    align-content: center;
    font-family: 'Merriweather', serif;
    border-radius: 15px;
}

.holderheadline
{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3em;
}

#zip
{
    display: block;
    margin: auto;
    padding: 10px;
    width: 35em;
    height: 3em;
    background-color: #00060C;
    opacity: 75%;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 1em;
    text-align: center;
}

#feelings
{
    display: block;
    margin: auto;
    width: 30em;
    padding: 20px;
    margin-top: 15px;
    background-color: #00060C;
    opacity: 70%;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 2em;
}

.holder-zip
label{
    padding: 5px;
    display: grid;
    font-family: "Comic Sans MS", cursive, sans;
    text-align: center;
    font-size: 1.2em;
}

#country
{
    display: block;
    margin: auto;
    padding: 10px;
    color: #fff;
    margin-top: 10px;
    width: 28em;
    height: 3em;
    background-color: #00060C;
    opacity: 75%;
    border-radius: 25px;
    border: none;
    font-size: 1em;   
    text-align: center;
}

#generate
{
    display: block;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 10px;
    width: 17em;
    color: #fff;
    background-color: #00060C;
    border-radius: 15px;
    border: none; 
    text-align: center;
    cursor: pointer;
    font-size: 1.3em;
}
#generate:hover{
    background-color: cyan;
    color: rgb(1, 1, 22);
}
.title
{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans;
    padding-top: 10px;
    font-size: 2em;
}
.holder-entry
{
    margin: auto;
    width: 60%;
    padding: 40px;
    padding-left: 60px;
    background-color: #000;
    opacity: 75%;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;

}
#date{
    color: red; 
    font-weight: bold;  
}
#city{
    font-size: 4em;
    display: inline;
    float: right;
}

#date #city #temp #pressure #Humidity #content {
    font-family: "Comic Sans MS", cursive, sans;
    text-align: center;
    margin: 20px;
}

span{
    color: red;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: block;
    margin: auto;
    font-size: 1.2em;
    width: 50%;
    background-color: lightgray;
}

@media only screen and (max-width: 35em){
    .holderheadline {
        font-size: 1.5em;
    }
    #zip {
        width: 15em;
        font-size: 1em;
    }
    #country {
        width: 12em;
        font-size: 1em;
    }
    #feelings {
        width: 25em;
        font-size: 1.2em;
    }
    #generate {
        width: 12em;
        font-size: 1em;
    }
    #date #city #temp #pressure #Humidity #content {
        font-size: 0.7em;
    }
    #city {
        font-size: 2em;
        float: none;
    }
    
    .holder-entry{
        font-size: 1em;
        width: 90%;
    }

}
